<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script defer type="text/javascript" src="routes.js"></script>
    <script type="text/javascript" src="auth.js"></script>

    <link rel="stylesheet" type="text/css" href="main.css">
    <%- include('templates/header.ejs') -%>

</head>
    <body>

        <div class="container"> 

            <div class="title">
                <h1>Find my <br />Cycle Cafe...</h1>
            </div>
            <br />
            
            <% if(!authMessage){ %> 
            <div class="oauth-container">
                <div class="oauth-box">
                    <a href="https://strava.com/oauth/authorize?client_id=<%= process.env.CLIENT_ID %>&redirect_uri=http://localhost:3000/auth&response_type=code&scope=read,read_all">
                        <h3>Connect here!</h3>
                    </a> 
                </div>
            </div>
            <% } %> 
            
            <div class="message-container">
                <% if(authMessage){ %> 
                    <br />
                    <br />
                    <b class="auth-message"><%= authMessage %></b>
                <% } else if(message){ %> 
                    <b class="error-message"><%= message %></b>
                <% } %> 
            </div>
            <br />
            <br />

            
            <% if(authMessage){ %> 
            <div class="form-container">                 
                <form action="/api" id="routeForm" method="POST"> 
                    <label for="routeTitle" id="route-title"><b>Enter your Strava route</b></label><br> 
                    <br />
                    <br />
                    <input type="text" id="route-src" name="routeSrc" placeholder="Search...">
                    <input type="submit" id="submit-button" value=".">
                </form>
            </div>
            <% } %> 
        
        

            <div class="instructions-container">
                <hr />
                <h1 id="instructions-header">A quick Q&A about how this all works</h1>
                <br />
                <h2>So how does this work?</h2>
                <p>Simply click the link above and login with your Strava username and password. Once authenticated, you can post any of your routes and the website will find the closest cycling-friendly cafes!</p>
                <br />
                <h2>Do I need to connect my Strava account?</h2>
                <p>Yes as this is the only way to pull route data directly from Strava.</p>
                <br />
                <h2>Is any of my data from Strava stored?</h2>
                <p>No personal data is stored anywhere on this website. Only your access token is processed from Strava which temporarily grants this website to pull route data from the link you provide.</p>
                <br />
                <h2>How can I revoke my access</h2>
                <p>To do this, simply navigate to the apps section on your Strava settings webpage. Here you will see the website where you can then revoke access.</p>
                <br />
                <h2>How can I see a full list of these cafes?</h2>
                <p>[insert link]</p>
                <br />
                
            </div>
    
        </div>

    </body>
</html>
 <%- include('templates/footer.ejs') -%> 
