<html>
<head>
    
    <script defer type="text/javascript" src="routes.js"></script>
    <script type="text/javascript" src="auth.js"></script>

    <link rel="stylesheet" type="text/css" href="main.css">
    <%- include('templates/header.ejs') -%>

</head>
    <body>

        <div class="container"> 

            <div class="title">
                <h1>Cycle Cafe Generator</h1>
            </div>
            <br />

            <!--
            <form action="/api/" id="" method="GET"> 
                <input type="submit" value="Authenticate through OAuth please">
            </form>
            -->
            
            <a href="https://strava.com/oauth/authorize?client_id=<%= process.env.CLIENT_ID %>&redirect_uri=http://localhost:3000/auth&response_type=code&scope=read,read_all">Connect here!</a>  
            <b class="auth-message"><%= authMessage %></b>

            <div class="form-container">                 
                <form action="/api" id="routeForm" method="POST"> 
                    <label for="routeTitle" id="route-title"><b>Enter your Strava route</b></label><br> 
                    <br />
                    <div class="error-message">
                        <b><%= message %></b>
                    </div>
                    <br />
                    <input type="text" id="route-src" name="routeSrc">
                    <input type="submit" id="submit-button" value="Search">
                </form>
            </div>
        </div>

        
    
        <%- include('templates/footer.ejs') -%>
    </body>
</html>