<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script defer type="text/javascript" src="routes.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin="">
    </script>

    <link rel="stylesheet" type="text/css" href="routes.css">

    <%- include('templates/header.ejs') -%>
</head>
<body>

    <script>
        let data = '<%- JSON.stringify(data.message) %>'
        let cafesArr = `<%- JSON.stringify(data.cafes) %>`
        let cafeObj = JSON.parse(cafesArr)    
        let numOfCafes = Object.keys(cafeObj).length;
    </script>

    <br />
    <br /> 
    <div class="flex-container">
        <div id="map"></div>
        <div class="info-container">
            
            <h1><b><%= data.name %></b></h1>
            <br />
            <h2><b><%= data.distance %>km</b></h2>
            <br />
            <hr />
            <br />
            <% if(!data.error){ %>
                <h3>Number of total cafes:        
                    <script>document.write(numOfCafes);</script>
                </h3>
                <br />
                <h3>Number of cafes halfway: N/A</h3>
                <p id="halfway-desc">These cafes are roughly halfway between the start and finish</p>

            <% } %> 

            <% if(data.error){ %>
                <div class="error-message">
                    <b><%= data.error %></b>
                </div>
            <% } %> 
            
        </div>
    </div>

</body> 
<%- include('templates/footer.ejs') -%>

</html>